<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
    integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>The One True Prince</h1>
    <p>There once was a @Model.GetSport() player named @Model.GetName(). He/She grew up in the small town of @Model.GetCity(), @Model.GetState(). In his/her youth,
        he/she would often @Model.GetVerb1() with the other kids. Sometimes, he/she would even @Model.GetVerb2() alone after school. After he/she got in one little fight
        his/her mom got @Model.GetFeeling(), and said "you're moving with your @Model.GetFamily1() and @Model.GetFamily2() to @Model.GetPlace()." And that's how he/she became
        the Prince/Princess of @Model.GetPlace(). </p>
  </body>
</html>
